body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7eaf88;
}
.container {
    width: 80%;
    max-width: 900px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.status, .procenat, .pump-control {
    margin: 20px 0;
}
.progress-bar {
    background: #ddd;
    border-radius: 4px;
    overflow: hidden;
    height: 30px;
    width: 100%;
}
.progress-bar-fill {
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    height: 100%;
    transition: background-color 0.3s;
}
.red-bg {
    background-color: red;
}
.green-bg {
    background-color: green;
}
.progress-bar-fill {
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    height: 100%;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bar-fill2 {
    text-align: center;
    line-height: 30px;
    color: rgb(5, 2, 2);
    font-weight: bold;
    height: 100%;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}